<div class="container">

  <h1 class="jumbotron header"><center>$UPER   RENTAL$</center></h1>

  {{outlet}}

  <footer>
    <span class="links">{{#link-to 'index'}}Home{{/link-to}}</span>
    <span class="links">{{#link-to 'about'}}About{{/link-to}}</span>
    <span class="links">{{#link-to 'contact'}}Contact{{/link-to}}</span>
  </footer>
</div>
